body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  text-align: center;
  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.navbar {
  background-color: #293449;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  width: 220px;
  margin-bottom: -5px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  z-index: 0;
}

.navbar-logo:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.navbar-logo:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.navbar-search {
  border: 0;
  background-color:#293449;
  font-size: 17px;
  line-height: 18px;
  padding: 11px 48px 12px 49px;
  width: 270px;
}

.navbar-search::placeholder {
  color: #ffffff;
}

.navbar-form {
  position: relative;
}

.navbar-icon::before {
  position: absolute;
  top: 12px;
  left: 17px;
  display: block;
  width: 17px;
  height: 17px;
  content: "";
  opacity: 0.3;
  background-image: url("../img/icon-search.svg");
  background-size: 17px 17px;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__item:hover,
.navbar-search:hover {
  background-color: #212a3a;
}

.navbar-search:hover + .navbar-icon::before {
  opacity: 1;
}

.navbar-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.navbar-search:focus + .navbar-icon::before {
  opacity: 1;
  background-image: url("../img/icon-search-red.svg");
}

.navbar__link--fav:hover::before,
.navbar__link--basket:hover::before {
  opacity: 1;
}

.navbar__link--fav:active,
.navbar__link--basket:active,
.navbar__link--payment:active,
.navbar__link--fav:active::before,
.navbar__link--basket:active::before {
  opacity: 0.5;
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;
  margin: 0;
  padding: 0;
}

.navbar__item {
  display: flex;
}

.navbar__link {
  width: 150px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  padding: 11px 0;
}

.navbar__link--fav {
  position: relative;
}

.navbar__link--fav::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 8px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.navbar__link--basket {
  position: relative;
}

.navbar__link--basket::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.navbar__link--payment {
  margin-left: -9px;
  background-color: #63a63e;
}

.navbar__link--payment:hover {
  background-color: #5fbb2d;
}

.navbar__link--payment:active {
  background-color: #518534;
}

.menu {
  padding-top: 33px;
  padding-bottom: 24px;
}

.menu-text {
  width: 215px;
  text-align: left;
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  padding-left: 53px;
}

.menu-contact {
  width: 270px;
  padding-left: 66px;
}

.menu-contact__tel {
  width: 243px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 10px 0px 9px 20px;
  margin: 0;
  margin-top: 13px;
}

.menu-contact__address {
  margin: 0;
  margin-top: 3px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.button {
  display: block;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  height: fit-content;
}

.menu-button {
  display: flex;
  width: 300px;
  margin-left: 68px;
  padding-top: 13px;
}

.menu-button__login,
.menu-button__reg {
  width: 120px;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  border-radius: 0;
  background-color: #ffffff;
}

.menu-button__login {
  position: relative;
  padding-left: 22px;
  width: 100px;
}

.menu-button__login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-button__reg {
  width: 150px;
  margin-left: 10px;
}

.menu-button__login:hover,
.menu-button__reg:hover {
  color: #ee3643;
}

.menu-button__login:hover::before {
  background-image: url("../img/icon-login-blue.svg");
}

.menu-button__login:active,
.menu-button__reg:active {
  color: #000000;
  opacity: 0.3;
}

.menu-button__login:active::before {
  opacity: 1;
}

.main-nav {
  width: 940px;
  margin: 0 auto;
}

.site-list {
  list-style: none;
  background-color: #32425c;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  border-bottom: 5px solid #293449;
}

.site-list__link {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 31px 18px;
  background-color: #32425c;
}

.site-list__item {
  display: flex;
}

.site-list__link:hover {
  background-color: #293449;
}

.site-list__link:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.feature__item {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature__item h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin: 21px 23px 13px;
}

.feature__top {
  margin-bottom: 20px;
  padding-top: 59px;
}

.feature__aside {
  flex-direction: column;
  margin-left: 640px;
}

.feature__button {
  width: 135px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 24px;
  padding: 10px 0;
}

.feature__button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature__button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature__item--materials {
  position: relative;
  background-color: #ffbf47;
}

.feature__item--materials::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-paint.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature__item--tool {
  position: relative;
  background-color: #3bbce3;
}

.feature__item--tool::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature__item--equipment {
  position: relative;
  background-color: #dc91d8;
}

.feature__item--equipment::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature__item--discount {
  position: relative;
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.feature__item--discount::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature__item--delivery {
  position: relative;
  background-color: #ffc047;
}

.feature__item--delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.feature__flag,
.catalog__flag {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}

.slider__wrap {
  display: flex;
  width: 940px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  left: 310px;
  bottom:35px;
  z-index: 100;
  width: 85px;
  height: 18px;
  font-size: 0;
  text-align: center;
  transform: translateX(-50%);
}

.slider-controls__item {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}

.slider-controls__item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: absolute;
  text-align: left;
  width: 596px;
  height: 266px;
  padding-left: 24px;
  display: none;
}

.slider__item::before {
  content: "";
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 402px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__item::after {
  content: "";
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 402px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider__item-button,
.services__slider-button {
  width: 193px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 11px 0 9px 3px;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.slider__item h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 23px 0 0;
}

.slider__item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 2px 1px 121px;
}

.slider__item--1 {
  display: block;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;;
}

.slider__item--2 {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;;
}

#product-1:checked ~ .slider__list .slider__item--1 {
  display: block;
}
#product-2:checked ~ .slider__list .slider__item--2 {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls__item--1::before,
#product-2:checked ~ .slider-controls .slider-controls__item--2::before {
  content: "";
  position: absolute;
  left: 57%;
  top: 57%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -4px;
  background-color: #ee3643;
  border-radius: 50%;
}

.catalog,
.brand {
  flex-direction: column;
}

.catalog__goods,
.brand__popular {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.catalog__title,
.brand__title {
  margin: 29px 28px;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog__button,
.brand__button {
  width: 250px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 11px 1px 9px 3px;
  margin-top: 24px;
  margin-right: 24px;
}

.catalog__list,
.brand__list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-bottom: 2px;
}

.catalog__item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: PT Sans;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog__buttons {
  display: none;
  position: absolute;
  top: 3px;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog__item:hover .catalog__buttons {
  display: block;
}

.catalog__item:hover,
.brand__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog__button-buy,
.catalog__button-mark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 8px 0 6px 2px;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog__button-mark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog__button-mark:hover {
  border: 3px solid #32425c;
}

.catalog__button-mark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.catalog__button-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog__button-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.catalog__button-buy:hover::before,
.catalog__button-buy:active::before {
  opacity: 1;
}

.catalog__button-buy {
  position: relative;
}

.catalog__button-buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog__item-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.catalog__item-discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 9px;
  color: #999;
  text-decoration: line-through;
}

.catalog__item-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 9px 27px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog__item-price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -27px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.brand__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  min-height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.brand__item:active {
  opacity: 0.3;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brand__item:nth-child(4n) {
  margin-right: 0;
}

.services {
  background-color: #f5f8fa;
  width: 100%;
  margin-top: 62px;
}

.services__wrap {
  flex-direction: column;
  min-height: 524px;
}

.services__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 42px;
  margin-bottom: 54px;
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.services__text {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  margin-left: -2px;
}

.services__slider-list {
  display: flex;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.services__slider {
  display: flex;
}

.services__slider-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 3px;
}

.services__slider-controls::before {
  content: "";
  position: absolute;
  top: 95px;
  right: -32px;
  width: 32px;
  height: 240px;
  transform: translateY(-50%);
  box-shadow:
    -10px 0px 15px -10px rgba(0,0,0,0.3),
    -5px 0 5px -10px rgba(0,0,0,0.1);
}

.services__slider-label {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding: 13px 22px 19px;
  width: 195px;
  box-shadow: inset
    0 -1px 0 #293449,
    0 -1px 0 #405069;
  cursor: pointer;
}

.services__slider-label:hover {
  background-color: #293449;
}

#delivery:checked ~ .services__slider-controls .services__slider-delivery,
#guaranty:checked ~ .services__slider-controls .services__slider-guaranty,
#credit:checked ~ .services__slider-controls .services__slider-credit {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}


.services__slider-item {
  width: 750px;
  min-height: 250px;
  position: relative;
  display: none;
  background-color: #f5f8fa;
  padding: 0 0 0 81px;
}

.services__slider-item--1 {
  display: block;
}
#delivery:checked ~ .services__slider-list .services__slider-item--1 {
  display: block;
}

.services__slider-item--1::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 151px;
  width: 468px;
  height: 1261px;
  background-image: url("../img/delivery-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#guaranty:checked ~ .services__slider-list .services__slider-item--2 {
  display: block;
  transform: translateX(-830px);
}

.services__slider-item--2::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 319px;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#credit:checked ~ .services__slider-list .services__slider-item--3 {
  display: block;
  transform: translateX(-830px);
}

.services__slider-item--3::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 245px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.services__slider-item h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}

.services__slider-item p {
  font-family: PT Sans;
  width: 278px;
  margin: 25px 0 0;
}

.services__slider-item--2 p {
  width: 380px;
}

.services__slider-item--3 p {
  margin: 25px 0 26px;
}

.services__slider-button {
  width: 190px;
}


